input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill {
    -webkit-text-fill-color: #ссс;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
    background: transparent;
}

.check-ip__form .form-control:focus {
    box-shadow: inset 0 -1px 0 #ddd;
}

.check-ip__form input.error {
    border: 2px solid red;
    background-color: #FFFFD5;
    margin: 0;
    color: red;
}

.check-ip__form label.error {
    display: block;
    color: red;
    font-style: italic;
    font-size: smaller;
    font-weight: normal;
}

.check-ip__response.success {
    color: green;
}

.check-ip__response.error {
    color: red;
}

.gif-loader {
    display: none;
}